{
  "api": {
    "url": "https://api.dtf.ru/v1.9/",
    "tag_regex": "#\b.+?\b",
    "environ": "TOKEN"
  },
  "db": {
    "type": "url",
    "environ": "DATABASE_URL"
  },
  "parser": {
	"categories_update_delay": 20000,
	"min_acceptable_score": 15
  }
}